{% extends 'blog/base.html' %}

{% block head_title%}
    {{post.title}} - Blog
{% endblock %}

{% block main_area %}
<!-- Post content-->
<article id="post-area">
    <!-- Post header-->
    <header class="mb-4">
        <!-- Post title-->
        <h1 class="fw-bolder mb-1">{{post.title}}</h1>
        {% if post.hook_text %}
        <h4 class="text-muted">{{post.hook_text}}</h4>
        {% endif%}
        <!-- Post meta content-->
        <div class="text-muted fst-italic mb-2">Posted on {{post.create_at}} by 홍길동(개발예정)</div>
        <!-- Post categories-->
        <a class="badge badge-info" href="#!">Web Design</a>
        <a class="badge badge-info" href="#!">Freebies</a>
    </header>
    <!-- Preview image figure-->
    <figure class="mb-4">
    {% if post.head_image %}
        <img class="img-fluid rounded" src="{{post.head_image.url}}"  />
    {% else %}
        <img class="img-fluid rounded" src="http://placehold.it/750x300"  />
    {% endif %}
    </figure>
    <!-- Post content-->
    <section class="mb-5">{{post.content }}</section>
    {% if post.file_upload %}
        <a href="{{post.file_upload.url}}" class="">다운로드 : {{post.get_file_name}} </a>
    {% endif %}
</article>
{% endblock %}